@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500;600&display=swap");
body {
  margin: 0;
  font-family: "IBM Plex Sans KR", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to left,
    rgba(5, 2, 14, 0.883),
    rgba(5, 2, 0, 0.929)
  );
  /* background-image: linear-gradient(
    to left,
    rgb(216, 136, 24), rgb(232, 117, 10)
  ); */
}
